/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "scaffold";
@import "bootstrap";

.navbar-brand {
	font-size: inherit;
}

.column {
	@extend .col-md-6;
	@extend .text-center;
}
.form {
	@extend .col-md-6;
}
.form-centered {
	@extend .col-md-6;
	@extend .text-center;
}
.submit {
	@extend .btn;
	@extend .btn-primary;
	@extend .btn-lg;
}

.main {
	@extend .container;
	padding-bottom: 80px;
}

section {
	@extend .row;
	margin-top: 20px;
}

/* White icon */
.white, .white a, .white a:visited {
	color: #fff;
}
