/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */

img {
	@extend .img-responsive;
	margin: 0 auto;
}

.navbar-brand {
	font-size: inherit;
}

.column {
	@extend .col-md-6;
	@extend .text-center;
}
.form {
	@extend .col-md-6;
}
.form-centered {
	@extend .col-md-6;
	@extend .text-center;
}
.submit {
	@extend .btn;
	@extend .btn-primary;
	@extend .btn-lg;
}

.main {
	@extend .container;
	padding-bottom: 80px;
}

section {
	@extend .row;
	margin-top: 20px;
}
/* Override Rail's default error calls with Bootstrap 3 */
.field_with_errors {
	@extend .has-error;
}

/* White icon */
.white, .white a, .white a:visited {
	color: #fff;
}
